{% extends 'base.html.twig' %}


{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{asset('css/style2.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('css/animate.css')}}">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
{% endblock %}




{% block javascript %}
<script src="ajax_framework.js"></script>
    <script src="wow.min.js"></script>
    <script>
        new WOW().init();
    </script>

<script>

    showContent('http:\\localhost:8098/farfor') // страница по умолчанию
</script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
{%  endblock %}




{% block content %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}ADMIN{% endblock %}</title>
</head>

{% block body %}

<body class="grey lighten-3">
<header>
<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar ">
<div class="container-fluid">
<a href="http://localhost:8098/adminpage" class="navbar-brand waves-effect"><strong class="blue-text">Admin</strong></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarContent">
<ul class="navbar-nav ml-auto">

<li class="nav-item active">
<a href="#" class="nav-link waves-effect">Ceramic residues</a>
</li>

</ul>
</div>
</div>
</nav>

</header>

    <table class="table" style="margin-top:50px;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
	            <th>Category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ceramic in ceramics %}
            <tr>
                <td>{{ ceramic.id }}</td>
                <td>{% for image in ceramic.images %}
                        <img src="{{ asset(image.path) }}" alt="" width = 90 height = 90>
                    {%  endfor %}</td>
                <td>{{ ceramic.name }}</td>
                <td>{{ ceramic.description }}</td>
		        <td>{{ ceramic.ceramicCategory }}</td>
                <td>
                    <a href="{{ path('ceramic_show', {'id': ceramic.id}) }}"><button type="button" class="btn btn-primary btn-sm">Show</button></a>
                    <a href="{{ path('ceramic_edit', {'id': ceramic.id}) }}"><button type="button" class="btn btn-primary btn-sm">Edit</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
    <a href="{{ path('ceramic_new') }}"><button type="button" class="btn btn-success btn-lg">Add new</button></a>

{% endblock %}
{% endblock %}
