{% extends 'base.html.twig' %}

{% block title %}FarforCategory index{% endblock %}

{% block body %}
    <h1>FarforCategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for farfor_category in farfor_categories %}
            <tr>
                <td>{{ farfor_category.id }}</td>
                <td>{{ farfor_category.name }}</td>
                <td>
                    <a href="{{ path('farfor_category_show', {'id': farfor_category.id}) }}">show</a>
                    <a href="{{ path('farfor_category_edit', {'id': farfor_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('farfor_category_new') }}">Create new</a>
{% endblock %}
