{% extends 'base.html.twig' %}

{% block title %}Ceramic index{% endblock %}

{% block body %}
    <h1>Ceramic index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
        {% for ceramic in ceramics %}
            <tr>
                <td>{{ ceramic.id }}</td>
                <td>{% for image in ceramic.images %}
                        <img src="{{ asset(image.path) }}" alt="" width = 90 height = 90>
                    {%  endfor %}</td>
                <td>{{ ceramic.name }}</td>
                <td>{{ ceramic.description }}</td>
                <td>{{ ceramic.ceramicCategory }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="http://localhost:8098/guest/"><button type="button" class="btn btn-danger mr-5 btn-lg btn-block">Back</button></a>
    <a href="http://localhost:8098/adminpage/ceramic/"><button type="button" class="btn btn-success mr-5 btn-lg btn-block">Add more</button></a>
{% endblock %}
