{% extends 'base.html.twig' %}

{% block title %}Ceramic index{% endblock %}

{% block body %}
    <h1>Ceramic index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ceramic in ceramics %}
            <tr>
                <td>{{ ceramic.id }}</td>
                <td>{{ ceramic.name }}</td>
                <td>{{ ceramic.description }}</td>
                <td>
                    <a href="{{ path('ceramic_show', {'id': ceramic.id}) }}">show</a>
                    <a href="{{ path('ceramic_edit', {'id': ceramic.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ceramic_new') }}">Create new</a>
{% endblock %}
